
.banner-text-wrapper {
    background: #395588d1;
    padding: 9em 0px 9em 0px;
}

.site-logo img {
    height: 60px;
}

.site-logo strong {
    color: cornsilk;
    font-size: 1.2em;
    margin-left: 10px;
    text-shadow: 1px 1px 1px lightslategrey;
}

.light-box-shadow {
    box-shadow: 0px 0px 4px 1px #4a4a4a;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.medium-margin-vertical {
    margin-top: 20px;
    margin-bottom: 20px;
}

.small-margin-vertical {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tiny-margin-vertical {
    margin-top: 5px;
    margin-bottom: 5px;
}

.small-margin-horizontal {
    margin-left: 10px;
    margin-right: 10px;
}

.tiny-margin-horizontal {
    margin-left: 5px;
    margin-right: 5px;
}

.flex-center-horizontal {
    display: flex;
    justify-content: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}

.flex-center-vertical {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.full-width-section-background {
    background: #209cee;
    color: white;
}

.presentation-section {
    background-color: #003f5c;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

.short-activity-description-wrapper {
    font-size: 0.8em;
    font-weight: 600;
}

.footer-contact-list {
    background: cornflowerblue;
    color: white;
    font-weight: 700;
    padding-top: 5px;
}

.footer-contact-list span {
    margin-left: 5px;
}

.content {
    margin-top: 20px;
}

.is-3 {
    font-size: 2em;
}

.light-font {
    font-weight: 400;
}

.white-text {
    color: white;
}

.success-text {
    color: #23d160;
}

.red-divider:after {
    content: '';
    width: 90px;
    height: 2px;
    background: darkred;
}

.top-contact-bar {
    position: absolute;
    width: 100%;
    padding: 5px;
    background: #6495edd1;
}

.top-contact-bar span {
    font-weight: 100;
    color: cornsilk;
}

.contact-section-container {
    background-image: url("/images/paper-pen.jpg");
    background-size: cover;
    background-position: center;
}

.footer-contact-list-wrapper {
    background: cornflowerblue;
}

.contact-section-container h3 {
    color: white;
}

.contact-section-container-wrapper {
    padding: 40px;
    background: #4a4a4a73;
}

@media (max-width: 425px) {

    .top-contact-bar span {
        font-size: 0.7em;
    }

}
