
.banner-text-wrapper {
    background: #0d46607d;
    padding: 10px;
}

.no-padding {
    padding: 0;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.medium-margin-vertical {
    margin-top: 20px;
    margin-bottom: 20px;
}

.small-margin-vertical {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tiny-margin-vertical {
    margin-top: 5px;
    margin-bottom: 5px;
}

.small-margin-horizontal {
    margin-left: 10px;
    margin-right: 10px;
}

.tiny-margin-horizontal {
    margin-left: 5px;
    margin-right: 5px;
}

.flex-center-horizontal {
    display: flex;
    justify-content: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}

.flex-center-vertical {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.full-width-section-background {
    background: #209cee;
    color: white;
}

.presentation-section {
    background-color: #003f5c;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

.short-activity-description-wrapper {
    font-size: 0.8em;
    font-weight: 600;
}

footer {
    /*background-color: #21536a !important;*/
    /*padding: 0rem 1.5rem 0rem!important;*/
}

.footer-contact-list li {
    color: #3962ff;
    font-size: large;
}

.footer-contact-list span {
    margin-left: 5px;
}

.content {
    margin-top: 20px;
}

.is-3 {
    font-size: 2em;
}

.light-font {
    font-weight: 400;
}

.white-text {
    color: white;
}

.top-contact-bar {
    font-weight: 600;
    position: absolute;
    width: 100%;
    background: #3d66789e;
    color: cornsilk;
}



