
.banner-text-wrapper {
    background: #0d46607d;
    padding: 10px;
}

.text-center {
    text-align: center;
}

.medium-margin-vertical {
    margin-top: 20px;
    margin-bottom: 20px;
}

.small-margin-vertical {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tiny-margin-vertical {
    margin-top: 5px;
    margin-bottom: 5px;
}

.small-margin-horizontal {
    margin-left: 10px;
    margin-right: 10px;
}

.tiny-margin-horizontal {
    margin-left: 5px;
    margin-right: 5px;
}

.flex-center-horizontal {
    display: flex;
    justify-content: center;
}

.flex-center-vertical {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.full-width-section-background {
    background: #209cee;
    color: white;
}

.presentation-section {
    background-color: #003f5c;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

.short-activity-description-wrapper {
    font-size: 1.2em;
    font-weight: 600;
}

footer {
    background-color: #21536a !important;
}

footer p, footer p i {
    color: white;
    font-size: x-large;
}



